DB_MYSQL_URL_DEV
DB_USERNAME_DEV
DB_PASSWORD_DEV
DB_NAME_DEV
DB_HOST_DEV

DB_MYSQL_URL
DB_USERNAME
DB_PASSWORD
DB_NAME
DB_HOST

SECRET_JWT_KEY

NEXT_PUBLIC_GCP_URL
GCP_CLIENT_EMAIL
GCP_PROJECT_ID
GCP_PRIVATE_KEY
GCP_BUCKET

CRON_JOB_SECRET

MAX_FILE_SIZE

SUPERADMIN_NAME
SUPERADMIN_EMAIL
SUPERADMIN_PASS
SUPERADMIN_ROLE_ID