
DATABASE_MYSQL_URL=
DATABASE_NAME=
DATABASE_USER=
DATABASE_PASSWORD=
SECRET_JWT_KEY=
NEXT_PUBLIC_GCP_URL=
CLIENT_EMAIL=
PROJECT_ID=
GCP_PRIVATE_KEY=
GCP_BUCKET=
//HOST="caca-cece"
CRON_JOB_SECRET=
MAX_FILE_SIZE=
SUPERADMIN_PASS=
