@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'SharpGrotesk';
    font-weight: 400;
    src: url('../fonts/SharpGroteskBook20.woff2') format('woff2');
    font-display: swap;
}
@font-face {
    font-family: 'SharpGroteskButton';
    font-weight: 600;
    src: url('../fonts/SharpGroteskBook20.woff2') format('woff2');
    font-display: swap;
}
@font-face {
    font-family: 'SharpGrotesk';
    font-weight: 600;
    src: url('../fonts/SharpGroteskSmBold20.woff2');
    font-display: swap;
}
@font-face {
    font-family: 'SharpGrotesk';
    font-weight: 900;
    src: url('../fonts/SharpGroteskBold20.woff2') format('woff2');
    font-display: swap;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --ff-grotesk: 'SharpGrotesk';
  --ff-grotesk-button: 'SharpGroteskButton';
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  font-family: var(--ff-grotesk);
  font-weight: 400;
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

h1, h2, h3 {
    @apply font-medium
}

h1 {
    @apply text-3xl
}

h2 {
    @apply text-2xl
}

h3 {
    @apply text-xl
}

section.admin-page-content {
    @apply flex flex-col w-full min-h-screen py-8 lg:py-10 pl-8 lg:pl-12
}

a.tmr-link, button.tmr-link {
    @apply text-neutral-400 data-[active="true"]:text-neutral-100 data-[active="true"]:underline decoration-green-600 underline-offset-4 hover:text-neutral-100 cursor-pointer
}

.media-preview-container {
  @apply flex justify-center items-center border-2 border-neutral-200 w-full h-full cursor-pointer data-[pending="true"]:pointer-events-none relative overflow-hidden
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
